*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: url(./distressed_texture_in_purple_background.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.app{
    background: #DEE1FF;;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 0;
    padding: 20px;
    margin: 0 auto;
}
.app-header{
    padding: 20px;
    text-align: center;

}
.app-content{
    display: flex;
    align-items: center;
    justify-content: center;
   position: relative;
}
.app-footer{
    padding: 20px;
    
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input label{
    margin: 10px;
    font-weight: 500px;
}
.input input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid  #F9B640;;
}
.game-field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  #F9B640;;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
}
.btn{
    position: absolute;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color:  #F9B640;;
    border: none;
    border-radius: 10px;
    color: #fff;
    z-index: 1;
}
.btn:hover{
    box-shadow: 0 2px 4px 1px gray;
}
.hide{
    display: none;
}
.btn:disabled{
    background: #ccc;
    border: 1px solid #ccc;
    color: #000;
    cursor: not-allowed;
}